[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
tqdm = "*"
sklearn = "*"
fonttools = "*"

[dev-packages]
jupyter = "*"
ipykernel = "*"

[requires]
python_version = "3.7"
